html,
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Fuentes - tipografías */
.font-general {
    font-family: "Montserrat", sans-serif;
}

.font-titulos {
    font-family: "Inter", sans-serif;
}

label {
    font-family: "Inter", sans-serif;
}

input,
textarea,
select {
    font-family: "Montserrat", sans-serif;
}

/* Botones */
.bton {
    padding: 15px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 14px;
}

.bton:hover {
    background-color: var(--color-fashion-accent);
    color: white;
}

.bton_secundario {
    padding: 15px 10px;
    background-color: var(--color-boton-secundario);
    color: black;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 14px;
}

.bton_secundario:hover {
    background-color: var(--color-boton-secundario-Accent);
    color: black;
}

nav a {
    font-family: "Inter", sans-serif;
}

nav li {
    cursor: pointer;
}

/* Formulario de login */
.barra-lateral {
    position: fixed;
    background-color: white;
    right: 0;
    top: 111px !important;
    /* Altura de barra superior + header */
    padding: 20px;
    height: calc(100vh - 111px);
    width: 100%;
    max-width: 400px;
    z-index: 50;
    transition-property: transform;
    transition-duration: 500ms;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Barra lateral login */
#barra-lateral-login #campo-pass,
#barra-lateral-login #email {
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.barra-lateral-abierto {
    transform: translateX(0);
}

.barra-lateral-cerrado {
    transform: translateX(100%);
}

.mostrarSeccion {
    display: block;
}

.ocultarSeccion {
    display: none;
}

/* Menú móvil a pantalla completa */
#barra-lateral-menu-movil {
    max-width: none !important;
    width: 100% !important;
    height: 100vh !important;
}

/* Carrito a pantalla completa en móvil */
@media (max-width: 1023px) {
    #barra-lateral-carrito {
        max-width: none !important;
        width: 100% !important;
    }
}



/* Chrome, Edge, Safari apaciencia del input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox apaciencia del input number */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Hiding scrollbars */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}